<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand">DishSTARS</a>
    </nav>

    <div class="container-fluid" style="height: 100%">
      <div class="row" style="height: 100%">
        <div class="col-6" style="height: 100%">

            <div class="card">
              <div class="card-body">
                <h4 class="card-title" id="resultsHeading"></h6>
              </div>
            </div>

            <ul class="list-group" id="dishesGroup">
            </ul>

            <div class="card">
              <div class="card-heading">
                Suggest based on your list
              </div>
            </div>

            <ul class="list-group" id="suggGroup">
            </ul>

        </div>

        <div class="col-6">
          <div class="container-fluid" style="height: 100%; position: fixed; top: 0; bottom: 0;">
            <div id="map" style="height: 100%; width: 49%; left: 0"></div>
          </div>
        </div>

      </div>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script>

      var demo = {{ demo }};

      var dishList = {};
      var locations = [];
      var searchLocNames = [];

      var distanceMatrix = null;
      var destinations;
      var distanceReloadInterval = null;


      $( document ).ready(function() {
        updateUserLocation();
        loadUserList();
      });

      function loadUserList() {
        
        $.getJSON( "{{ url_for('getDishList', key=key)}}", function(data) {

          dishList = data["dishes"];
          locations = data["locations"];
          suggList = data["sugg"];

          for (i=0; i<locations.length; i++) {
            var loc = locations[i];
            loc = loc.split(",")[0];
            if ( ! searchLocNames.includes(loc) ) {
              searchLocNames.push(loc);
            }
          }
          loadDistanceMatrix();
          refreshDishDisplay();
        });
      }


      function loadDistanceMatrix() {

        if (userPos == null) {
          // wait for geolocation to get user position
          if (window.distanceReloadInterval == null) {
            window.distanceReloadInterval = setInterval( loadDistanceMatrix, 3000 );
          }
            return
        }
        else {

          // clear the reload timer
          clearInterval(window.distanceReloadInterval);
          window.distanceReloadInterval = null;

          var dishes = Object.keys(dishList).map(function(key) {
            return dishList[key];
          });
          var destinations = [];

          for (i=0; i<dishes.length; i++) {
            destinations.push(dishes[i].location.formattedAddress.join(", "));
          }

          var service = new google.maps.DistanceMatrixService();
          service.getDistanceMatrix(
            {
              origins: [userPos],
              destinations: destinations,
              travelMode: 'DRIVING',
              unitSystem: google.maps.UnitSystem.METRIC
            }, callback);

          function callback(response, status) {
            if (status == 'OK') {

              var distances = [];

              var origins = response.originAddresses;
              var destinations = response.destinationAddresses;

              for (var i = 0; i < origins.length; i++) {
                var results = response.rows[i].elements;
                for (var j = 0; j < results.length; j++) {
                  var element = results[j];
                  var distance = element.distance.text;
                  var duration = element.duration.text;
                  var from = origins[i];
                  var to = destinations[j];
                  distances.push(distance);
                }
              }

              window.distanceMatrix = distances;
              console.log('distances loaded')
              refreshDishDisplay();
            }
          }
        }
      }

      

      function refreshDishDisplay() {

        $('#resultsHeading').html("Here's your dish list for " + searchLocNames.join(", "));
        // $('#saveListLink').hide();

        var dishes = Object.keys(dishList).map(function(key) {
            return dishList[key];
          });

        if (distanceMatrix != null) {
          for (i=0; i<dishes.length; i++) {
            dishes[i].distance = distanceMatrix[i];
          }
          sortByKey(dishes, 'distance', ascending=true);
        } else {
          sortByKey(dishes, 'compositeScore', ascending=false);
        }
        
        
        var items = [];

        for (i=0; i<dishes.length; i++) {

          var dishKey = dishes[i].dishKey;
          var dishName = dishes[i].dish;
          var venueName = dishes[i].venueName;
          var venueId = dishes[i].venueId;
          var address = dishes[i].location.address + ", " + dishes[i].location.city;

          if (userPos != null) {
            var dirUrl = encodeURI("https://www.google.com/maps/dir/?api=1&origin="+userPos.lat+","+userPos.lng+"&destination=" + address);
          }
          else {
            var dirUrl = encodeURI("https://www.google.com/maps/dir/?api=1&destination=" + address);
          }

          var category = dishes[i]['categories'][0]['shortName'];

          var distance = dishes[i].distance;
          if (typeof(distance) == "undefined") {
            distance = "";
          }
          var rank = i + 1;
          var score = dishes[i].compositeScore;

          var description = dishes[i].description;
          if (description === undefined) {
            description = "";
          }
          var price = dishes[i].price;
          if (price === undefined) {
            price = "";
          } else {
            price = "$" + price;
          }

          s = "<li id='"+ dishKey +"' class='list-group-item list-group-item-action flex-column align-items-start'> <div class='d-flex w-100 justify-content-between'> <a href='https://foursquare.com/v/"+ venueId + "/menu' target='_blank' class='text-primary' data-toggle='tooltip' title='View in menu'> <h5 class='mb-1 text-primary'>"+ dishName + " </h5></a> <small>" + price + "</small> </div> <p class='mb-1'> " + description + "</p> </div> <div> <small> <a href='https://foursquare.com/v/"+ venueId + "' target='_blank' class='text-dark'><strong>" + venueName + "</strong></a> | "+ category + "</small> </div> <small><a href='"+dirUrl+"' target='_blank' class='text-dark' data-toggle='tooltip' title='Get directions'>" + address + " | "+ distance +"</a></small> <p></p> <div class='d-flex w-100 justify-content-between'> <span class='h6 text-dark'>" + score + " Recommendations</span> </div> </li>"

          items.push(s);

        };

        $("#dishesGroup").html( items.join("") );

        // configure tooltips
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        // Initialize / Reinitialize the map
        initMap();

        // saved dishes display
        // show markers for all the venues
        createMarkersForSavedDishes();

        // watch for mouse events and bounce map markers when mouse over listitems
        for (i=0; i < dishes.length; i++) {
          $("#"+dishes[i].dishKey).mouseenter(function () {
            var dishKey = $(this)[0].id;
            infoWindowOpen(dishKey);
          });

          $("#"+dishes[i].dishKey).mouseleave(function () {
            var dishKey = $(this)[0].id;
            infoWindowClose(dishKey);
          });
        }

      }


      function sortByKey(array, key, ascending=true) {
        return array.sort(function(a, b) {
          var x = a[key]; var y = b[key];
          if (ascending == true) {
            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
          }
          else {
            return ((x < y) ? 1 : ((x > y) ? -1 : 0));
          }
        });
      }


      // function mouseEnterItem(dishKey) {
      //   if (dishList[dishKey].marker == null) { 
      //     dishList[dishKey].marker = new google.maps.Marker({
      //       position: {'lat': dishList[dishKey].location.lat, 'lng': dishList[dishKey].location.lng},
      //       map: map
      //     });
      //   } else {
      //     dishList[dishKey].marker.setMap(map);
      //   }
      // }

      // function mouseExitItem(dishKey) {
      //   if (dishList[dishKey].marker != null) {
      //     dishList[dishKey].marker.setMap(null);
      //   }
      // }


      function createMarkersForSavedDishes() {

        var dishKeys = Object.keys(dishList);
        for (i=0; i < dishKeys.length; i++) {
          
          var key = dishKeys[i];

          if (dishList[key].marker == null) { 

            dishList[key].marker = new google.maps.Marker({
              position: {'lat': dishList[key].location.lat, 'lng': dishList[key].location.lng},
              map: map
            });
          } 
          else {
            dishList[key].marker.setMap(map);
          }

          // extend map bounds to marker postion to allow auto center/zoom.
          var loc = new google.maps.LatLng(dishList[key].marker.position.lat(), dishList[key].marker.position.lng());
          bounds.extend(loc);
        }

        map.fitBounds(bounds);       // auto-zoom
        map.panToBounds(bounds);     // auto-center
      }

      function removeMarkersForSavedDishes() {

        var dishKeys = Object.keys(dishList);
        for (i=0; i < dishKeys.length; i++) {
          
          var key = dishKeys[i];

          if ( dishList[key].marker != null ) {
            dishList[key].marker.setMap(null);
          }
        }

      }

      function markerBounceOn(dishKey) {
        dishList[dishKey].marker.setAnimation(google.maps.Animation.BOUNCE);
      }
      function markerBounceOff(dishKey) {
        dishList[dishKey].marker.setAnimation(null);
      }

      function infoWindowOpen(dishKey) {
        var dish = dishList[dishKey];
        var contentString = "<h6>"+dish.dish+"</h6><p>"+dish.venueName+"</p>";
        infoWindow.setContent(contentString);
        infoWindow.open(map, dishList[dishKey].marker);
      }
      function infoWindowClose(dishKey) {
        infoWindow.close();
      }


      var map;
      var bounds = null;
      var infoWindow;
      var userPos = null;
      var userMarker = null;

      function initMap() {

        // initialize the map location to center on the first dish location
        // this is temporary because will re-center later
        var location = dishList[ Object.keys(dishList)[0] ].location;

        // bounds object allows re-center and auto-zoom
        if (bounds == null) {
          bounds  = new google.maps.LatLngBounds();
        }

        infoWindow = new google.maps.InfoWindow;

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng( location.lat, location.lng ),
          mapTypeId: 'roadmap'
        });

        if (userMarker != null) {
          userMarker.setMap(map);
          var loc = new google.maps.LatLng(userMarker.position.lat(), userMarker.position.lng());
          bounds.extend(loc);
          map.fitBounds(bounds);       // auto-zoom
          map.panToBounds(bounds);
        }

        
      }

      function updateUserLocation() {

        if (demo) {
          // Using a preset location
          // 3rd Street Promenade Santa Monica
          var pos = {
            coords: {
              latitude: 34.016552,
              longitude: -118.497178
            }
          };
          handleLocationSuccess(pos);
        }
        else {
          // Try HTML5 geolocation.
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
              handleLocationSuccess(position);
            }, function() {
              handleLocationError(true);
            });
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false);
          }
        }
      }

      function handleLocationSuccess(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        window.userPos = pos;            

        window.userMarker = new google.maps.Marker({
          position: window.userPos,
          icon: "https://maps.google.com/mapfiles/ms/icons/blue-dot.png",
          zIndex: google.maps.Marker.MAX_ZINDEX + 1
        });

        if (map != null) {
          userMarker.setMap(map)
          var loc = new google.maps.LatLng(userMarker.position.lat(), userMarker.position.lng());
          bounds.extend(loc);
          map.fitBounds(bounds);       // auto-zoom
          map.panToBounds(bounds);
        }
      }

      function handleLocationError(browserHasGeolocation) {
        if (browserHasGeolocation) {
          console.error('Error: The Geolocation service failed.');
        } else {
          console.error('Error: Your browser doesn\'t support geolocation.');
        }
      }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAreGuSV0PWNx3uvzRQ_WD2jbTFGmbxe_g"></script>

  </body>
</html>



