<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand">DishSTARS</a>

        <form id="search" class="form-inline">
          <input class="form-control mr-sm-2" type="text" id="near" name="near" placeholder="Enter a location" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav">
          <li class="nav-item" id="recommendNav">
            <a class="nav-link active" id="recommendNav" href="#">Recommended</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item" id="dishListNav">
            <button class="btn btn-outline-warning">
            Dish List <span class="badge badge-warning" id="starCountBadge">0</span>
            </button>
          </li>
        </ul>
    </nav>

    <div class="container-fluid" style="height: 100%">
      <div class="row" style="height: 100%">
        <div class="col-6" style="height: 100%">

          <div class="container" style="padding:20">
            <p class="h5" id="resultsHeading"></p>
          </div>

          <div class="container">
            <ul class="list-group" id="popularDishesGroup">
            </ul>
          </div>

        </div>

        <div class="col-6">
          <div class="container-fluid" style="height: 100%; position: fixed; top: 0; bottom: 0;">
            <div id="map" style="height: 100%; width: 49%; left: 0"></div>
          </div>



        </div>
      </div>
    </div>

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script>

      var locId = "TG9zIEFuZ2VsZXMsIENBLCBVbml0ZWQgU3RhdGVz";
      var locName = "Los Angeles, CA, United States";
      var latLng = {"lat": 34.05223, "lng": -118.24368};

      var dishList = {};
      var savedDishes = {};
      var reloadIntervalTime = 5000;
      var reloadInterval;


      function resetSearch() {
        dishList = {};
        reloadIntervalTime = 5000;
        clearInterval(reloadInterval);
      }

      function loadDishes(withRefresh) {
        
        $.getJSON( "https://insight-dishstars.appspot.com/api/searchResults/location/"+locId+"/dishes", dishesUpdated );

        if (withRefresh) {
          window.reloadInterval = setInterval( loadDishes, reloadIntervalTime );
        }
      }

      function dishesUpdated( data ) {
        let dishCount = data['count']
        if (dishCount > Object.keys(window.dishList).length) {
          // there are new dishes
          $.each( data['dishes'], function( key, val ) {
            if (!( key in window.dishList )) {
              window.dishList[key] = val
            }
          });
          console.log('loading dishes');
          console.log(Object.keys(window.dishList).length);
          refreshDishDisplay();

        } else {
          if (dishCount > 0) {
            // no new dishes, inrease reload interval
            clearInterval(reloadInterval);
            reloadIntervalTime += 5000;
            if (reloadIntervalTime <= 60000) {
              console.log('increasing reload interval');
              reloadInterval = setInterval( loadDishes, reloadIntervalTime );
            }
            // else no more reloads.
          }
        }
      }

      function refreshDishDisplay(filterSaved=false) {

        if (filterSaved) {
          
          $('#resultsHeading').html("Here's your dish list");

          var dishes = Object.values(window.savedDishes);
          sortByKey(dishes, 'compositeScore');
          
        }
        else {

          $('#resultsHeading').html("Popular dishes for " + locName);

          var dishes = Object.values(window.dishList);
          var dishKeys = Object.keys(window.dishList);
          for (i=0; i<dishes.length; i++) {
            dishes[i].dishKey = dishKeys[i];
          }
          sortByKey(dishes, 'compositeScore');
        }

        var items = [];
        var n = dishes.length;
        var nearLocation = locName.split(",")[0];

        for (i=0; i<n; i++) {

          var dishKey = dishes[i].dishKey;
          var dishName = dishes[i].dish;
          var venueName = dishes[i].venueName;
          var venueId = dishes[i].venueId;
          var address = dishes[i].location.address + ", " + dishes[i].location.city;

          var category = dishes[i]['categories'][0]['shortName'];

          var distance = "0 miles";
          var rank = i + 1;
          var score = dishes[i].compositeScore;

          var description = dishes[i].description;
          if (description === undefined) {
            description = "";
          }
          var price = dishes[i].price;
          if (price === undefined) {
            price = "";
          } else {
            price = "$" + price;
          }

          if (filterSaved) {
            s = "<li id='"+ dishKey +"' class='list-group-item list-group-item-action flex-column align-items-start'> <div class='d-flex w-100 justify-content-between'> <h5 class='mb-1 text-primary'>"+ dishName + " </h5> <small>" + price + "</small> </div> <p class='mb-1'> " + description + "</p> </div> <div> <small> <a href='https://foursquare.com/v/"+ venueId + "' target='_blank' class='text-dark'><strong>" + venueName + "</strong></a> | "+ category + "</small> </div> <small>" + address + " | "+ distance + "</small> <p></p> <div class='d-flex w-100 justify-content-between'> <span class='h6 text-dark'>" + score + " Recommendations</span> </div> </li>"
          }
          else {
            s = "<li id='"+ dishKey +"' class='list-group-item list-group-item-action flex-column align-items-start'> <div class='d-flex w-100 justify-content-between'> <h5 class='mb-1 text-primary'>"+ dishName + " </h5> <small>" + price + "</small> </div> <p class='mb-1'> " + description + "</p> </div> <div> <small> <a href='https://foursquare.com/v/"+ venueId + "' target='_blank' class='text-dark'><strong>" + venueName + "</strong></a> | "+ category + "</small> </div> <small>" + address + " | "+ distance + "</small> <p></p> <div class='d-flex w-100 justify-content-between'> <span class='h6 text-dark'>" + score + " Recommendations</span> <button type='button' class='btn btn-sm btn-outline-warning' id='button_" + dishKey + "' style='width: 100px' onclick=starButtonPressed('"+ dishKey +"')><small>Add</small></button> </div> </li>"
          }

          items.push(s);

        };

        $("#popularDishesGroup").html( items.join("") );

        // Initialize / Reinitialize the map
        initMap();

        if (filterSaved) {
          // saved dishes display
          // show markers for all the venues
          createMarkersForSavedDishes();

        }
        else {
          // Popular dishes display

          removeMarkersForSavedDishes();

          // watch for mouse events and display map markers when mouse over listitems
          for (i=0; i < dishes.length; i++) {
            $("#"+dishes[i].dishKey).mouseenter(function () {
              var dishKey = $(this)[0].id;
              mouseEnterItem(dishKey);
            });

            $("#"+dishes[i].dishKey).mouseleave(function () {
              var dishKey = $(this)[0].id;
              mouseExitItem(dishKey);
            });
          }
        }

      }

      function sortByKey(array, key) {
        return array.sort(function(a, b) {
          var x = a[key]; var y = b[key];
          return ((x < y) ? 1 : ((x > y) ? -1 : 0));
        });
      }

      $( document ).ready(function() {
        loadDishes(false);
        // window.reloadInterval = setInterval( loadDishes, reloadIntervalTime );
      });


      function starButtonPressed(dishKey) {

        var b =  $("#button_"+dishKey);

        if (b.hasClass("active")) {

          b.removeClass("active");
          b.html("<small>Add</small>");

          removeDish(dishKey);

        } else {

          b.addClass("active");
          b.html("<small>Remove</small>");

          saveDish(dishKey);
        }

        $("#starCountBadge").html( Object.keys(savedDishes).length );
      }


      function saveDish(dishKey) {
        savedDishes[dishKey] = dishList[dishKey];
      }

      function removeDish(dishKey) {
        delete savedDishes[dishKey];
      }


      function mouseEnterItem(dishKey) {
        if (dishList[dishKey].marker == null) { 
          dishList[dishKey].marker = new google.maps.Marker({
            position: {'lat': dishList[dishKey].location.lat, 'lng': dishList[dishKey].location.lng},
            map: map
          });
        } else {
          dishList[dishKey].marker.setMap(map);
        }
      }

      function mouseExitItem(dishKey) {
        if (dishList[dishKey].marker != null) {
          dishList[dishKey].marker.setMap(null);
        }
      }


      function createMarkersForSavedDishes() {

        var dishKeys = Object.keys(savedDishes);
        for (i=0; i < dishKeys.length; i++) {
          
          var key = dishKeys[i];

          if (savedDishes[key].marker == null) { 

            savedDishes[key].marker = new google.maps.Marker({
              position: {'lat': savedDishes[key].location.lat, 'lng': savedDishes[key].location.lng},
              map: map
            });
          } 
          else {
            savedDishes[key].marker.setMap(map);
          }
        }
      }

      function removeMarkersForSavedDishes() {

        var dishKeys = Object.keys(savedDishes);
        for (i=0; i < dishKeys.length; i++) {
          
          var key = dishKeys[i];

          if ( savedDishes[key].marker != null ) {
            savedDishes[key].marker.setMap(null);
          }
        }

      }


      $("#dishListNav").click(function () {
        console.log("dish list nav clicked")
        refreshDishDisplay(filterSaved=true);
      })

      $("#recommendNav").click(function () {
        console.log("recommend nav clicked")
        refreshDishDisplay();
      })


      // variable to hold request
      var request;
      $("#search").submit(function(event){

        // Prevent default posting of form - put here to work in case of errors
        event.preventDefault();

        // Abort any pending request
        if (request) {
            request.abort();
        }
        // setup some local variables
        var $form = $(this);

        // validate the form
        var nearLocation = $("#near")[0].value
        if (nearLocation.trim() == "") {
          console.error("Must specify search location.")
          return
        }

        // Let's select and cache all the fields
        var $inputs = $form.find("input, select, button, textarea");

        // Serialize the data in the form
        var serializedData = $form.serialize();

        // Let's disable the inputs for the duration of the Ajax request.
        // Note: we disable elements AFTER the form data has been serialized.
        // Disabled form elements will not be serialized.
        $inputs.prop("disabled", true);

        // Fire off the request to /form.php
        request = $.ajax({
            url: "{{ url_for('findDishes') }}",
            type: "post",
            data: serializedData
        });

        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR){

            locId = response['locationId'];
            locName = response['locationName'];
            latLng = response['latLng'];

            resetSearch();
            loadDishes(true);
            // window.reloadInterval = setInterval( loadDishes, reloadIntervalTime );
        });

        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown){
            // Log the error to the console
            console.error(
                "The following error occurred: "+
                textStatus, errorThrown
            );
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });

      });


    </script>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng( latLng["lat"], latLng["lng"] ),
          mapTypeId: 'roadmap'
        });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAreGuSV0PWNx3uvzRQ_WD2jbTFGmbxe_g"></script>

  </body>
</html>






